# Python, Builders | Checkers
__pycache__/

# Node, Website
node_modules/

# AngelScript sven coop and metamod API
# https://github.com/Mikk155/Sven-Co-op/blob/main/aslp.as.predefined
.vscode/sven.as.predefined
# https://codeberg.org/anggaranothing/svencoop-py-asdocs-vscode
.vscode/aslp.as.predefined

maps/**
Rubbish/**
models/**
scripts/mikk155
sound/**
sprites/**

desktop.ini
