# documentation
*.png binary
*.wav binary
*.ico binary

*.as text eol=lf

*.res linguist-vendored
*.as linguist-language=AngelScript
*.predefined linguist-language=AngelScript
*.json linguist-language=AngelScript
docs/* linguist-documentation=false
*.py linguist-language=Python
*.js linguist-language=TypeScript
*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=HTML
*.md linguist-language=HTML
